@media (max-width:739px)
{
    .header__search{
        display: none;
    }

    .header__cart{
        display: none;
    }

    .header__logo-img{
        width: 80%;
    }

    .modal__content{
        top: 20%;
        left: 15%;
        width: 70%;
        padding-top: 8px;
        padding-bottom: 16px;
        background-color: white;
        z-index: 11;
        position: absolute;    
        border-radius: 5px;
        animation: .5s ease-in transitionY;
    }

    .slides{
        margin-top: 80px;
        width: 500%;
        height: 200px;
        display: flex;
      
      }
}