@media (max-width:739px)
{
    .header__search{
        display: none;
    }

    .header__cart{
        display: none;
    }

    .header__logo-img{
        width: 80%;
    }

    .modal__content{
        top: 5%;
        left: 15%;
        width: 70%;
        padding-top: 8px;
        padding-bottom: 16px;
        background-color: white;
        z-index: 11;
        position: absolute;    
        border-radius: 5px;
        animation: .5s ease-in transitionY;
        position: fixed;
    }

    .slides{
        margin-top: 80px;
        width: 500%;
        height: 200px;
        display: flex;
      
      }

      .container__heading{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    
}

@media (min-width: 740px) and (max-width: 1113px)
{
    .modal__content{
        top: 10%;
        left: 30%;
        width: 40%;
        padding-top: 8px;
        padding-bottom: 16px;
        background-color: white;
        z-index: 11;
        position: absolute;    
        border-radius: 5px;
        animation: .5s ease-in transitionY;
        position: fixed;
    }

    .container__heading{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    
}